@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Revalia&family=Roboto&display=swap');


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F3890C; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body{
    background-color: #2A2C3E;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

section{
    height: 100vh;
    width: 100vw;
}

.navBar{
    position: absolute;
    display: flex;
    width: 100%;
    height: 115px;
    left: 0px;
    top: 0px;
    background: rgb(73, 75, 100);
    z-index: 2;
}

.navBar img{
    margin-left: 3%;
    margin-right: 3%;
}

.navBar a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    margin-top: 2.5%;
}

.navBar a:last-child{
    margin-left: auto;
}

.navBar a.active {
    color: #F3890C;
}

.navBar a:hover {
    color: #F3890C;
}

.loginBtn{
    text-align: right;
}


.blur{
    z-index: -2;
    position: absolute;
    margin-left: 50%;
}

.blur2{
    z-index: -2;
    position: absolute;
    margin-top: 30%;
}

.sloganContainer{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 35%;
    left: 5%;
}

.sloganContainer img{
    max-width: 130%;
    height: auto;
    position: absolute;
    left: -10%;
    top: -80%;
    z-index: -1;
}

.sloganContainer h1{
    font-size: 300%;
}

.sloganP{
    width: 53%;
    height: auto;
}

.signupBtn{
    background: #f3870c;
    width: 15%;
    border: none;
    border-radius: 17px;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: large;
    box-shadow: 0px 0px 15px 5px rgba(255, 136, 0, 0.445);
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background: #f3b50c;
    width: 17%;
    border: none;
    border-radius: 17px;
    padding: 3%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: large;
    box-shadow: 0px 0px 15px 5px rgba(255, 136, 0, 0.445);
}

.purpBG{
    max-width: 100%;
    height: auto;
    position: fixed;
    right: -2%;
    z-index: 3;
}

.phone{
    max-width: 100%;
    height: 65%;
    position: absolute;
    right: 3%;
    transform: translateY(15%);
    z-index: 3;
}

.wdwdCont{
    /* background-color: #f3870c; */
    width: 55%;
    height: 40%;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, 60%);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 1%;
    box-shadow: inset 13px 13px 30px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.wdwdCont > h1{
    font-size: 3em;
    margin-bottom: 10%;
}

.wdwdCont > p{
    font-size: 1.5em;
}

.ourWorksCont{
    /* background-color: #f3870c; */
    width: 55%;
    height: 60%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Montserrat', sans-serif;
}

.ourWorksCont > h1{
    margin-left: 5%;
    font-size: 2em;
    color: white;
}

.ourWorksCont > .row1{
    /* background-color: #3e2a2a; */
    width: 90%;
    height: 40%;
    margin-bottom: 10%;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    box-shadow: inset 13px 13px 30px 4px rgba(0, 0, 0, 0.25);
}

.ourWorksCont > .row2{
    /* background-color: #e5e5e5; */
    width: 90%;
    height: 40%;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%);
    box-shadow: inset 13px 13px 30px 4px rgba(0, 0, 0, 0.25);
}

.theTeamCont{
    /* background-color: #f3870c; */
    width: 55%;
    height: 60%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Montserrat', sans-serif;
}

.theTeamCont > h1{
    margin-left: 5%;
    font-size: 2em;
    color: white;
}

.theTeamCont > .row1{
    /* background-color: #3e2a2a; */
    width: 90%;
    height: 40%;
    margin-bottom: 10%;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
}

.theTeamCont > .row2{
    /* background-color: #e5e5e5; */
    width: 90%;
    height: 40%;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 70%;
    margin-top: 3%;
    transform: translate(-50%);
}

.footer{
    /* position: absolute; */
    box-shadow: inset 13px 13px 30px 4px rgba(0, 0, 0, 0.25);
    height: 40%;
    width: 100%;
    top: 560%;
    display: flex;
    justify-content: space-between;
}

.footer1 > .footerLogo {
    margin-left: 5%;
    margin-top: 2.5%;
}
.footer1 > .footerContent {
    color: #DAD3D3;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
}

.footer2{
    margin-top: 3%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h3{
    margin-bottom: 20%;
    color: #F3890C;
}

.footer2>a{
    color: white;
    text-decoration: none;
}

.footer3{
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.footer3>a{
    color: white;
    text-decoration: none;
}

.footer4{
    margin-top: 3%;
    margin-right: 5%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.footer4>a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #F3890C;
}

.blur4{
    position: absolute;
    right: 0;
    top: 50%;
}

.blur5{
    z-index: -2;
    position: absolute;
    margin-left: 50%;
    top: 170%;
}

.blur6{
    
    position: absolute;
    
}

.client1{
    width: 90%;
    margin-left: 5%;
}

.client2{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}