@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Revalia&family=Roboto&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F3890C; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body{
    background-color: #2A2C3E;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

section{
    height: 100vh;
    width: 100vw;
}

.navBar{
    position: absolute;
    display: flex;
    width: 100%;
    height: 115px;
    left: 0px;
    top: 0px;
    background: rgb(73, 75, 100);
    z-index: 2;
}

.navBar img{
    margin-left: 3%;
    margin-right: 3%;
}

.navBar a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    margin-top: 2.5%;
}

.navBar a:last-child{
    margin-left: auto;
}

.navBar a.active {
    color: #F3890C;
}

.navBar a:hover {
    color: #F3890C;
}


.card {
    height: 120%;
    width: 18%;
    border-radius: 10px;
    box-shadow: inset 5px 12px 24px rgba(0, 0, 0, 0.35),5px 12px 24px rgba(0, 0, 0, 0.35);
    background-color: #272c42;
    text-align: left;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-image: url(/imgs/cardBg.png);
    margin-left: 2%;
    position: relative;
}

.card2{
    background-color: #323548;
}

.card2>h1{
    font-size: 1.5rem;
}

.card:hover{
    box-shadow: inset 5px 12px 24px #f3870c46;
    animation: btnGlow ease-in-out 1s infinite alternate;
}

@keyframes btnGlow {
    from {box-shadow:  0 0 5px #F3890C, 0 0 20px #F3890C ;}
    to {box-shadow: 0 0 0px #F3890C, 0 0 0px #F3890C ;}
}

.card > h1{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #F3890C;
    margin-left: 5%;
}

.card > p{
    color: white;
    font-size: 120%;
    margin-left: 5%;
}

.card2>h1{
    font-size: 1.7rem;
}
.cardTitle{
    z-index: 10;
}

.mpImg{
    position: inherit;
    transform: translateY(33%);
    width: 80%;
}

.dmImg{
    position: inherit;
    /* transform: translateX(-50%); */
    transform: translateY(97%);
    width: 110%;
}

.wmImg{
    position: inherit;
    width: 67%;
    transform: translateY(38%);
}

.slider-container {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -43%);
    /* overflow: hidden; */
}
.inner-slider {
    width: 150%;
    height: 60%;
    display: flex;
    gap: 10px;
    /* pointer-events: none; */
    position: absolute;
    top: 0;
    left: 0;
}

#learnMoreBtn{
    background: #f3870c;
    width: 90%;
    height: 10%;
    border: none;
    border-radius: 17px;
    padding: 1%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 150%;
    margin: 1%;
    box-shadow: 0px 0px 15px 5px rgba(255, 136, 0, 0.445);
    cursor: pointer;
    transition: .3s;
    /* margin-left: 5%; */
    position: absolute;
    bottom: 5%;
}

#learnMoreBtn:hover{
    background: #f3b50c;
    border: none;
    border-radius: 17px;
    padding: 1%;
    font-family: 'Roboto', sans-serif;
    color: white;
    box-shadow: 0px 0px 15px 5px rgba(255, 136, 0, 0.445);
}

.box-container{
    background-color: #F3890C;
}

.inner-box{
    position: absolute;
    width: 80%;
    height: 50%;
    left: 56%;
    transform: translate(-50%);
    margin-top: 10%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.box{
    height: 85%;
    width: 50%;
    border-radius: 10px;
    box-shadow: inset 5px 12px 24px rgba(0, 0, 0, 0.35),5px 12px 24px rgba(0, 0, 0, 0.35);
    background-color: #1f2233;
    text-align: left;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-image: url(/imgs/cardBg.png);
    margin-left: 2%;
    position: relative;
}

.box>.cardTitle{
    color: #F3890C;
    font-size: 1vw;
}


.box>p{
    color: #636363;
    font-size: .8vw;
}

.box>.cardPrice{
    margin-top: -5%;
    font-size: 2vw;
}

#sectionTitle{
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 17%;
    margin-top: 5%;
}

#sectionTwo{
    margin-top: -20%;
}

.box4{
    margin-top: 10%;
}

.blur{
    z-index: -2;
    position: absolute;
    margin-left: 50%;
}

.blur2{
    z-index: -2;
    position: absolute;
    margin-top: 30%;
}